---
name: "App:External"
notes: This is an example demo.
layout: blank
labels:
- inprogress
- prototype
---

<div class="d-flex flex-column vh-100">
 
  {{> patterns.organisms.header.simple}}

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="flex-shrink-0">
    <!-- Hero Section -->
<div class="container mt-4 space-top-lg-2 mb-lg-4">
  <div class="row justify-content-lg-between mb-7">
    <div class="col-md-6 col-lg-5">
      <!-- Info -->
      <div class="mb-5">
        <h1>Create yours</h1>
        <p>Built on standard web technology, teams use Front to build beautiful cross-platform hybrid apps in a fraction of the time.</p>
      </div>

      <div class="mb-3">
        <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="#">Get Started</a>
        <a class="btn btn-link mb-2 mb-sm-0" href="#">Demo <i class="fas fa-angle-right fa-sm ml-1"></i></a>
      </div>
      <!-- End Info -->
    </div>

    <div class="col-md-6 d-none d-md-inline-block">
      <!-- SVG Illustration -->
      <figure class="w-100">
        <img class="img-fluid" src="https://htmlstream.com/front/assets/svg/illustrations/hiker-man.svg" alt="Image Description">
      </figure>
      <!-- End SVG Illustration -->
    </div>
  </div>

  <!-- Clients -->
  <div class="row justify-content-between text-center">
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/boring-company.svg" alt="Image Description">
      </div>
    </div>
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/netflix.svg" alt="Image Description">
      </div>
    </div>
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/fitbit.svg" alt="Image Description">
      </div>
    </div>
    <div class="col-4 col-lg-2">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/google.svg" alt="Image Description">
      </div>
    </div>
    <div class="col-4 col-lg-2">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/airbnb.svg" alt="Image Description">
      </div>
    </div>
    <div class="col-4 col-lg-2">
      <div class="mx-3">
        <img class="max-w-11rem max-w-md-13rem mx-auto" src="https://htmlstream.com/front/assets/svg/clients-logo/uber.svg" alt="Image Description">
      </div>
    </div>
  </div>
  <!-- End Clients -->
</div>
<!-- End Hero Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  {{> patterns.organisms.footer.simple}}

</div>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    var header = new HSHeader($('#header')).init();

    // initialization of HSMegaMenu component
    var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

    // initialization of form validation
    $('.js-validate').each(function () {
      $.HSCore.components.HSValidation.init($(this), {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });
    });

    // initialization of show animations
    $('.js-animation-link').each(function () {
      var showAnimation = new HSShowAnimation($(this)).init();
    });
  });
</script>