---
name: Base
notes: This is an example demo.
layout: blank
labels:
- inprogress
- prototype
---

<div class="d-flex flex-column vh-100">
 
  {{> patterns.organisms.header.simple}}

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="flex-shrink-0">
    ...
  </main>
  <!-- ========== END MAIN ========== -->

  {{> patterns.organisms.footer.simple}}

</div>
