---
name: Base
notes: This is an example demo.
layout: blank
labels:
- inprogress
- prototype
---

<div class="d-flex flex-column vh-100">
 
  {{> patterns.organisms.header.simple}}

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="flex-shrink-0">
    ...
  </main>
  <!-- ========== END MAIN ========== -->

  {{> patterns.organisms.footer.simple}}

</div>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    var header = new HSHeader($('#header')).init();

    // initialization of HSMegaMenu component
    var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

    // initialization of form validation
    $('.js-validate').each(function () {
      $.HSCore.components.HSValidation.init($(this), {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });
    });

    // initialization of show animations
    $('.js-animation-link').each(function () {
      var showAnimation = new HSShowAnimation($(this)).init();
    });
  });
</script>