---
name: "Desk:Product"
notes: This is an example demo.
layout: blank
labels:
- inprogress
- prototype
---

<div class="d-flex flex-column vh-100">

  {{> patterns.organisms.header.app}}

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="flex-shrink-0">
    <div class="position-relative">
      <!-- Hero Section -->
      <div class="gradient-y-overlay-lg-white bg-img-hero space-top-2">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-8">
              <h1 class="text-lh-sm">Product name</h1>
              <div class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>

              <div class="d-flex align-items-center flex-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Amet mattis vulputate enim nulla aliquet porttitor. Sit amet dictum sit amet
                  justo donec enim diam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Hero Section -->

      <!-- Sidebar Content Section -->
      <div class="container space-top-md-2 position-md-absolute top-0 right-0 left-0">
        <div class="row justify-content-end">
          <div id="stickyBlockStartPoint" class="col-md-5 col-lg-4 position-relative z-index-2">
            <div class="js-sticky-block card border"
                 data-hs-sticky-block-options='{
                   "parentSelector": "#stickyBlockStartPoint",
                   "breakpoint": "md",
                   "startPoint": "#stickyBlockStartPoint",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 12,
                   "stickyOffsetBottom": 12
                 }'>
              <div class="position-relative p-1">
                <!-- Image -->
                <img class="card-img-top" src="https://htmlstream.com/front/assets/svg/components/graphics-1.svg"
                  alt="Image Description">
                <!-- End Image -->
              </div>

              <div class="card-body text-center">
                <div class="mb-3">
                  <button type="button" class="btn btn-outline-info btn-xs"><i class="fas fa-circle"></i>
                    available</button>
                  <button type="button" class="btn btn-outline-dark btn-xs">Location</button>
                </div>

                <div class="mb-2">
                  <a class="btn btn-block btn-primary transition-3d-hover" href="#">Access</a>
                </div>

                <h2 class="h4 mt-4">Documentation</h2>

                <div class="mb-2">
                  <a class="btn btn-block btn-outline-danger transition-3d-hover" href="#">Documentation one</a>
                  <a class="btn btn-block btn-outline-danger transition-3d-hover" href="#">Documentation two</a>
                </div>

                <div class="space-top-1">
                  <button type="button" class="badge badge-primary">Collection</button>
                  <button type="button" class="badge badge-secondary">Category</button>
                </div>

                <div class="mt-3">
                  <a class="small" href="#"><i class="far fa-flag mr-1"></i> Report error</a>
                </div>
              </div>

              <!-- Button trigger modal -->
              <a class="card-footer text-center font-weight-bold py-3" href="javascript:;">
                <i class="fa fa-question mr-1"></i>
                Question
              </a>
              <!-- End Button trigger modal -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Sidebar Content Section -->

      <!-- Description Section -->
      <div class="container space-top-2 space-top-md-1">
        <div class="row">
          <div class="col-md-7 col-lg-8">

            <!-- Access -->
            <div class="border-top space-top-1">
              <h2 class="mb-4">Access Conditions</h2>
              <p>This is the most comprehensive, yet straight-forward, course for the Python programming language on
                Udemy! Whether you have never programmed before, already know basic syntax, or want to learn about the
                advanced features of Python, this course is for you! In this course we will teach you Python 3. (Note,
                we also provide older Python 2 notes in case you need them)</p>
            </div>
            <!-- End Access -->

            <!-- How-to -->
            <div class="border-top space-top-1">
              <h2 class="mb-4">How-to</h2>
              <!-- Step -->
              <ul class="step">
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">1</span>
                    <div class="step-content">
                      <h4>First step</h4>
                      <p class="text-body">Achieve virtually any design and layout from within the one template.</p>
                    </div>
                  </div>
                </li>

                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">2</span>
                    <div class="step-content">
                      <h4>Second step</h4>
                      <p class="text-body">We strive to figure out ways to help your business grow through all
                        platforms.</p>
                    </div>
                  </div>
                </li>

                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-soft-primary">3</span>
                    <div class="step-content">
                      <h4>Third step</h4>
                      <p class="text-body">Find what you need in one template and combine features at will.</p>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- End Step -->
            </div>
            <!-- End How-to -->

            <!-- FAQ -->
            <div class="border-top space-top-1">
              <h2 class="mb-4">Frequently asked questions</h2>
              <!-- Basics Accordion -->
              <div id="basicsAccordion">
                <!-- Card -->
                <div class="card shadow-none mb-3">
                  <div class="card-header card-collapse" id="basicsHeadingOne">
                    <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0"
                      href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseOne"
                      aria-expanded="false" aria-controls="basicsCollapseOne">
                      Do you have any built-in caching?

                      <span class="card-btn-toggle">
                        <span class="card-btn-toggle-default">+</span>
                        <span class="card-btn-toggle-active">−</span>
                      </span>
                    </a>
                  </div>
                  <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne"
                    data-parent="#basicsAccordion">
                    <div class="card-body px-0">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod.</p>
                      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident.</p>
                    </div>
                  </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card shadow-none mb-3">
                  <div class="card-header card-collapse" id="basicsHeadingTwo">
                    <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0"
                      href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseTwo"
                      aria-expanded="false" aria-controls="basicsCollapseTwo">
                      Can I add/upgrade my plan at any time?

                      <span class="card-btn-toggle">
                        <span class="card-btn-toggle-default">+</span>
                        <span class="card-btn-toggle-active">−</span>
                      </span>
                    </a>
                  </div>
                  <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
                    data-parent="#basicsAccordion">
                    <div class="card-body px-0">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod.</p>
                      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident.</p>
                    </div>
                  </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card shadow-none mb-3">
                  <div class="card-header card-collapse" id="basicsHeadingThree">
                    <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0"
                      href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseThree"
                      aria-expanded="false" aria-controls="basicsCollapseThree">
                      What access comes with my hosting plan?

                      <span class="card-btn-toggle">
                        <span class="card-btn-toggle-default">+</span>
                        <span class="card-btn-toggle-active">−</span>
                      </span>
                    </a>
                  </div>
                  <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
                    data-parent="#basicsAccordion">
                    <div class="card-body px-0">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod.</p>
                      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident.</p>
                    </div>
                  </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card shadow-none mb-3">
                  <div class="card-header card-collapse" id="basicsHeadingFour">
                    <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0"
                      href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFour"
                      aria-expanded="false" aria-controls="basicsCollapseFour">
                      How do I change my password?

                      <span class="card-btn-toggle">
                        <span class="card-btn-toggle-default">+</span>
                        <span class="card-btn-toggle-active">−</span>
                      </span>
                    </a>
                  </div>
                  <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                    data-parent="#basicsAccordion">
                    <div class="card-body px-0">
                      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod.</p>
                      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident.</p>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Basics Accordion -->
            </div>
            <!-- End FAQ -->

            <!-- Keywords -->
            <div class="space-top-1">
              <h2 class="h6 mb-1">Keywords</h2>
              <p>Comprehensive, straight-forward, course, Python, programming</p>
            </div>
            <!-- End Keywords -->

          </div>
        </div>
      </div>
      <!-- End Description Section -->

      <!-- Sticky Block End Point -->
      <div id="stickyBlockEndPoint"></div>
    </div>
  </main>
  <!-- ========== END MAIN ========== -->

  {{> patterns.organisms.footer.app}}

</div>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    var header = new HSHeader($('#header')).init();

    // initialization of HSMegaMenu component
    var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

    // initialization of form validation
    $('.js-validate').each(function () {
      $.HSCore.components.HSValidation.init($(this), {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });
    });

    // initialization of show animations
    $('.js-animation-link').each(function () {
      var showAnimation = new HSShowAnimation($(this)).init();
    });

    // initialization of fancybox
    $('.js-fancybox').each(function () {
      var fancybox = $.HSCore.components.HSFancyBox.init($(this));
    });

    // initialization of sticky blocks
    $('.js-sticky-block').each(function () {
      var stickyBlock = new HSStickyBlock($(this)).init();
    });

    // initialization of clipboard
    $('.js-clipboard').each(function () {
      var clipboard = $.HSCore.components.HSClipboard.init(this);
    });

    // initialization of go to
    $('.js-go-to').each(function () {
      var goTo = new HSGoTo($(this)).init();
    });
  });
</script>