---
name: Base
order: 1
links:
  Front snippets: https://htmlstream.com/front/snippets/card-list.html
---

<!-- list-group -->
<div class="mx-lg-auto mb-5 mb-md-7">
    <!-- Card -->
    <a class="card card-frame py-2 px-4 mb-2" href="#">
      <div class="row align-items-sm-center">
        <span class="col-sm-6 text-dark">
          Lorem ipsum dolor sit amet
        </span>
        <span class="col-6 col-sm-3 text-body">
          London
        </span>
        <span class="col-6 col-sm-3 text-right">
          See <i class="fas fa-angle-right fa-sm ml-1"></i>
        </span>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="card card-frame py-2 px-4 mb-2" href="#">
      <div class="row align-items-sm-center">
        <span class="col-sm-6 text-dark">
          Lorem ipsum dolor sit amet
        </span>
        <span class="col-6 col-sm-3 text-body">
          London
        </span>
        <span class="col-6 col-sm-3 text-right">
          See <i class="fas fa-angle-right fa-sm ml-1"></i>
        </span>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="card card-frame py-2 px-4 mb-2" href="#">
      <div class="row align-items-sm-center">
        <span class="col-sm-6 text-dark">
          Lorem ipsum dolor sit amet
        </span>
        <span class="col-6 col-sm-3 text-body">
          San Francisco
        </span>
        <span class="col-6 col-sm-3 text-right">
          See <i class="fas fa-angle-right fa-sm ml-1"></i>
        </span>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="card card-frame py-2 px-4 mb-2" href="#">
      <div class="row align-items-sm-center">
        <span class="col-sm-6 text-dark">
          Lorem ipsum dolor sit amet
        </span>
        <span class="col-6 col-sm-3 text-body">
          San Francisco
        </span>
        <span class="col-6 col-sm-3 text-right">
          See <i class="fas fa-angle-right"></i>
        </span>
      </div>
    </a>
    <!-- End Card -->
  </div>
<!-- End list-group -->
