---
name: Variant
notes: Use .btn-*, .btn-outline-*, .btn-soft-*, .btn-ghost-* classes to change the visual style of the button.
links:
  Front: https://themes.getbootstrap.com/preview/?theme_id=4231
  Bootstrap: https://getbootstrap.com/docs/4.4/components/buttons/
---

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-outline-primary">Outline</button>
<button type="button" class="btn btn-soft-primary">Soft</button>
<button type="button" class="btn btn-ghost-primary">Ghost</button>
<button type="button" class="btn btn-link">link</button>
<button type="button" class="btn btn-primary btn-pill">Primary</button>
