---
name: Sizes
notes: |
  Fancy larger smaller or extra smaller buttons? Add .btn-lg or .btn-sm for additional sizes.
---

<button type="button" class="btn btn-primary btn-lg">Large</button>
<button type="button" class="btn btn-primary">Default Size</button>
<button type="button" class="btn btn-primary btn-sm">Small</button>
<button type="button" class="btn btn-primary btn-xs">Extra small</button>
