---
name: Background Card
---

<!-- Card Background -->
<a class="card h-100 transition-3d-hover bg-primary text-white" href="#">
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <h3 class="text-white">Ask a question</h3>
        <p class="text-body">Email with support members to get your questions answered.</p>
      </div>
    </div>
  </div>
</a>
<!-- End Card Background -->