---
name: Base
order: 1
links:
  Front: https://themes.getbootstrap.com/preview/?theme_id=4231
  Front snippets: https://htmlstream.com/front/snippets/card-grid.html
  Bootstrap: https://getbootstrap.com/docs/4.4/components/card/
---

<!-- Card -->
<a class="card h-100 transition-3d-hover" href="#">
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <h3>Ask a question</h3>
        <p class="text-body">Email with support members to get your questions answered.</p>
      </div>
    </div>
  </div>
</a>
<!-- Card -->
