---
name: Icon Card
---

<!-- Icon Card -->
<div class="card card-frame h-100">
  <a class="card-body" href="#">
    <div class="media">
      <div class="avatar avatar-xs mt-1 mr-3">
        <img class="avatar-img" src="https://htmlstream.com/front/assets/img/160x160/img3.jpg" alt="Image Description">
      </div>
      <div class="media-body">
        <div class="d-flex align-items-center">
          <span class="d-block text-dark font-weight-bold">Slack</span>
        </div>
        <small class="d-block text-body">Communication</small>
      </div>
    </div>
  </a>
</div>
<!-- End Icon Card -->