---
name: Image Card
---

<!-- Icon Card Image -->
<a class="card h-100 transition-3d-hover" href="#">
  <div class="card-body">
    <div class="media">
      <figure class="w-100 max-w-6rem mr-3">
        <img class="img-fluid" src="https://htmlstream.com/front/assets/svg/icons/icon-15.svg" alt="SVG">
      </figure>
      <div class="media-body">
        <h3>Ask a question</h3>
        <p class="text-body">Email with support members to get your questions answered.</p>
      </div>
    </div>
  </div>
</a>
<!-- End Icon Card Image -->
