---
name: Media Card v2
---

<!-- Media Card -->
<a class="card card-frame h-100" href="#">
  <img class="card-img-top" src="/images/1200x600.jpg" alt="Image Description">
  <div class="card-body">
    <div class="d-flex align-items-center mb-1">
      <span class="d-block text-dark font-weight-bold">Google</span>
    </div>
    <span class="d-block text-body font-size-1">Multinational technology company that specializes in Internet-related
      services</span>
  </div>
</a>
<!-- End Media Card -->